<%= link_to "#", "data-toggle" => "modal", "data-target"=>"#editModal--effect-zoomIn", :title => "Rename list", class: "btn btn-xs" do %>
  <span class="glyphicon glyphicon-pencil"></span>
<% end %>

<div id="editModal--effect-zoomIn" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body">
        <%= form_for list, url: list_path(list.id), :html => {class: "form-horizontal", role: "form"} do |f| %>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <%= f.text_field :name, class: "form-control", placeholder: "e.g Running shoes", autofocus: true %>
          </div>
        </div>
        <div class="checkbox col-md-offset-1">
          <label><%= f.check_box :private %>Private list</label>
        </div>
        <div>
          <%= f.submit "Update", class: 'btn btn-primary btn-sm  col-sm-offset-5  ' %> 
        </div>
      <% end %>
      </div>
      
    </div>
  </div>
</div>