<!-- Modal -->
<div id="myModal--effect-zoomIn" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @product.name %></h4>
      </div>
      <div class="modal-body">
        <img src="<%= @product.images["main"]%>">
        <small class="trashglyphicon">
          <%= @skroutz.find_sku_category(@product.category_id).name %>
        </small>
      </div>
      <div class="modal-footer">
        <div class="modal_div_footer">
          <small>
            <p>Price: <%= @product.price_min%> --> <%= @product.price_max%> &#8364;</p>
          </small>
        </div>
        <%= button_to"Add to list", add_product_list_path(@list, skuid: @product.id), class: "btn-success" %>
      </div>
    </div>
  </div>
</div>