

<div class="row">
  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
  	<%= render 'shared/errors', obj: @user %>
  	<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-5">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="col-sm-5">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Re-enter password" %>
        </div>
      </div>
      <%= f.submit(@user.new_record? ? "Sign up" : "Update", class: 'btn btn-primary btn-sm') %> 
    <% end %>
    Already have an account? 
    <a href="#" data-toggle="modal" data-target="#myModal">Log in</a>
    <%= render 'login_modal' %>
  </div>
</div>